<section class= "mb-5" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <details>
          <summary class="btn btn-info my-2 mx-2">Post Actions</summary>
          <div class="d-flex flex-column align-items-start">
            <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-primary my-2 mx-2" %>
            <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-danger my-2 mx-2", data: { confirm: "Are you sure?" } %>
          </div>
        </details>
        <span><%= link_to "Back to posts", posts_path, class: "btn btn-primary my-2 mx-2" %></span>
      </div>
      <div class="col-lg-12">
        <p style="color: green"><%= notice %></p>

        <%= render @post %>
      </div>
    </div>
  </div>
</section>
