<%= turbo_frame_tag 'profile_form' do %>
  <%= form_with(model: profile, url: :new_profile, local: true) do |form| %>
    <% if profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
          <% profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :bio %>
      <%= form.text_area :bio, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :website %>
      <%= form.text_field :website, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :location %>
      <%= form.text_field :location, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.submit submit_text, class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
